.idea/
ProjectReferencesRuler/bin/
ProjectReferencesRuler/obj/
MonolithRuler.sln.DotSettings.user
ProjectReferencesRuler.Tests/bin/
ProjectReferencesRuler.Tests/obj/
MonolithRuler.Console/bin/
MonolithRuler.Console/obj/
ProjectsRuler.Console/bin/
ProjectsRuler.Console/obj/
ProjectsRuler.sln.DotSettings.user
*.nupkg
